<div id="CONTEUDOLOGIN">
    <div class="loginUser">
        <img src="/assets/topo_imagem.gif" alt="">
        <h5>SIC</h5>
        <h3 class="subtitulo">Sistema de informações Cadastrais</h3>
        <h2 class="txtMatricula">Matrícula:</h2>
        <input type="text" name="txtmatricula" id="txtmatricula">
        <h2 class="txtSenha">Senha:</h2>
        <input type="text" name="txtsenha" id="txtsenha">
        <br>
        <br>
        <input (click)="goToMaterial()" type="submit" value="Cadastro Menu/Página" class="btnEntrar">
        <input (click)="goToConsultaFuncionario()" type="submit" value="Cadastro Funcionario" class="btnEntrar">
        <input (click)="goToDesenv()" type="submit" value="DESENVTMKT" class="btnEntrar">
        
        
        
    </div>
</div>